.recent-chat {
  max-width: 359px;
  height: calc(100vh - 73px);
  overflow: hidden;
  box-shadow: 0 2px 4px -2px rgb(179, 179, 179);
  border-right: 1px solid rgb(219, 234, 254);
}

.recent-chat-detail-container {
  overflow-y: auto;
  height: calc(100% - 73px);
  padding-left: 8px;
}

.toolbar-icon {
  width: 48px;
  height: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.toolbar-icon svg {
  transition: all ease 0.3s;
}

.toolbar-icon:hover {
  background-color: #e7e7e7;
}

.text-message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
}

.chat-recent-detail {
  transition: all ease 0.3s;
  cursor: pointer;
  padding: 12px 24px;
}

.chat-recent-detail:hover {
  background-color: #dbeafe;
}

.chat-recent-detail.active {
  background-color: #dbeafe;
}

.chat-recent-detail .date {
  font-size: 14px;
  font-weight: bold;
}

.chat-recent-detail .time {
  font-size: 13px;
}

.chat-window {
  height: calc(100vh - 73px);
  overflow: hidden;
  /* box-shadow: 0 2px 4px -2px rgb(179, 179, 179); */
  background-color: #dbeafe;

}

.input-text {
  width: 50%;
  background-color: rgb(226, 232, 240);
  padding: 8px 14px;
  border-radius: 8px;
}

.input-text input {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.input-text input:focus {
  outline: none !important;
}

.chat-message {
  max-width: 50%;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
  overflow: auto;
  min-height: 44px;
  display: flex;
  align-items: center;
}

.chat-message-with-table {
  max-width: 65%;
  width: 65%;
}

.chat-message-with-table * {
  color: white !important;
}

.type-bot {
  justify-content: start;
}

.type-user {
  justify-content: end;
}

.type-user .chat-message {
  background-color: rgb(96 165 250) !important;
  color: white;
}

.typing {
  background-color: #b8a2f4;
  padding: 2em;
  width: 20em;
  height: 10em;
  border: 1px solid #c3acff;
  border-radius: 12px 12px 12px 0;
  box-shadow: 10px 10px 20px rgba(43, 21, 149, 0.63);
  position: relative;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.typing span {
  content: '';
  display: block;
  height: 3em;
  width: 3em;
  border-radius: 50px;
  background-color: #401a77;
  margin: auto 0.75em;
  box-shadow: 5px 5px 5px #1e0660 inset;

  animation: bounce 0.6s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 0s;
}

.typing span:nth-child(2) {
  animation-delay: 0.25s;
}

.typing span:last-child {
  animation-delay: 0.5s;
}


@keyframes bounce {
  0% {
    margin-bottom: 1.5em;
  }

  25% {
    margin-bottom: 2.5em;
  }

  50% {
    margin-bottom: 3.5em;
  }

  75% {
    margin-bottom: 4.5em;
  }

  100% {
    margin-bottom: 5em;
  }
}

.chat-box {
  height: calc(100% - 60px);
}

.chat-message-container {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease forwards;
}

.chat-message table,
.chat-message tr,
.chat-message td,
.chat-message th {
  border: 1px solid;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-dialog {
  width: 70%;
  min-width: 70%;
}

.create-tbl-dropdown {
  position: absolute;
  bottom: unset;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 0px;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: #fff;
}

#icon-tbl-container {
  position: relative;
  display: inline-block;
}

#icon-tbl-container:hover .create-tbl-dropdown {
  bottom: 32px;
  top: unset;
  max-height: 500px;
  opacity: 1;
}

.option-tbl {
  min-width: 176px;
  border-bottom: 0.5px solid #e7e7e7;
}

.option-tbl:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}


.chat-tooltip {
  right: 0;
}

.icon-create-new {
  transition: all ease 0.3s;
}

.icon-create-new:hover {
  background-color: #dbeafe;
}

.recent-chat-title {
  padding: 20px 24px;
  padding-right: 8px;
}

.recent-chat-title-text {
  font-size: 20px;
}

.control-box {
  padding: 24px;
  border-top: 1px solid rgb(219, 234, 254);
}

.control-icon {
  background-color: rgb(226, 232, 240);
  width: 32px;
  height: 32px;
  transition: all ease 0.3s;
}

.control-icon:hover {
  background-color: #bfdbfe;
}

.control-icon:hover svg {
  fill: rgb(37, 99, 235);
}

.control-icon-right svg {
  transition: all ease 0.3s;
}

.control-icon-right:hover svg {
  fill: rgb(37, 99, 235);
}

table,
tr,
td,
td strong {
  color: white;
}

.file-item {
  padding: 8px 12px;
  background-color: #bfdbfe;
  border-radius: 8px;
  position: relative;
}

.file-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-item-remove {
  transition: all ease 0.3s;
  border-radius: 4px;
  position: absolute;
  right: -2px;
  top: -2px;
  background-color: #fff;
  padding: 3px;
}


.generate-file-loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-editor svg {
  fill: rgb(37, 99, 235);
}

.bot-avt {
  background-color: #60a5fa;
}

.bot-avt svg {
  fill: #fff;
}

.bot-user {
  background-color: white;
}

.bot-user svg {
  fill: #60a5fa;
}