body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shadow-bottom {
  box-shadow: 0 2px 4px -2px rgb(179, 179, 179);
}


.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  transition: all ease 0.3s !important;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  transition: all ease 0.3s !important;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}
.scroll:hover::-webkit-scrollbar-thumb {
  background-color: #5555553d;
}
.btn {
  height: 32px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.c-pointer {
  cursor: pointer;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}