body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shadow-bottom {
  box-shadow: 0 2px 4px -2px rgb(179, 179, 179);
}

.scroll {
  position: relative;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  transition: all ease 0.3s !important;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  transition: all ease 0.3s !important;
  position: absolute;
  right: 0;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
}
.scroll:hover::-webkit-scrollbar-thumb {
  background-color: #5555553d;
}
.btn {
  height: 32px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.c-pointer {
  cursor: pointer;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.bg-secondary-1 {
  background-color: #f0f0f0 !important;
}

.modal{
}

.bg-primary-1 {
  background-color: #2b80ff !important
}

.logo-box {
  border-right: 1px solid rgb(219, 234, 254);
  padding: 16px 24px;
}

.header-box {
  border-bottom: 1px solid rgb(219, 234, 254);
}

.text-black-light {
  color: rgb(100, 116, 139);
}

.ant-btn-primary span {
  color: white !important;
}

.ant-select-item-option-state {
  display: none !important;
}