:root {
  --background-color-gray: #f5f5f5;
}
* {
  color: #475569;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}



.tox-statusbar__branding {
  display: none !important;
}